<div class="form-toggle-container">
  <div>
    <button (click)="toggleFormMethod(true)">{{"Join"|translate}}</button>
    <div [ngClass]="toggleForm ? 'highLight' : ''"></div>
  </div>
  <div>
    <button (click)="toggleFormMethod(false)">{{"Plan"|translate}}</button>
    <div [ngClass]="!toggleForm ? 'highLight' : ''"></div>
  </div>
</div>
<div class="form-container">
  <form *ngIf="!toggleForm" [formGroup]="planForm">
    <div class="form-group">
      <label for="numberOfPeople">{{"Number of People"|translate}}:</label>
      <input
        id="numberOfPeople"
        formControlName="numberOfPeople"
        type="number"
      />
      <div
        *ngIf="
          planForm.get('numberOfPeople')?.invalid &&
          planForm.get('numberOfPeople')?.touched
        "
        class="error"
      >
        {{"Please enter a valid number (minimum 1)"|translate}}.
      </div>
    </div>
    <div class="form-group">
      <label for="eventDate">{{"Event Date"|translate}}:</label>
      <input id="eventDate"  [min]="minDate" formControlName="eventDate" type="date" />
      <div
      *ngIf="
        planForm.get('eventDate')?.invalid &&
        planForm.get('eventDate')?.touched
      "
      class="error"
    >
      {{"Please choose future date"|translate}}.
    </div>
    </div>

    <div class="form-group">
      <label for="eventTime">{{"Event Time"|translate}}:</label>
      <input id="eventTime" formControlName="eventTime" type="time" />
    </div>
    <div class="form-group">
      <label for="ageGroup">{{"Age Group"|translate}}:</label>
      <select id="ageGroup" formControlName="ageGroup">
        <option *ngFor="let option of ageOptions" [value]="option">
          {{ option }}
        </option>
      </select>

      <div
        *ngIf="
          planForm.get('ageGroup')?.invalid &&
          planForm.get('ageGroup')?.touched
        "
        class="error"
      >
        {{"Please select an age group" |translate}}.
      </div>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="hasBall" /> {{"Do you have a ball"|translate}}?
      </label>
    </div>

    <div class="form-group">
      <label for="message">{{"Message"|translate}}:</label>
      <textarea id="message" formControlName="message"></textarea>
    </div>

    <div class="form-group">
      <label for="phoneNumber">{{"Phone Number"|translate}}:</label>
      <input id="phoneNumber" formControlName="phoneNumber" type="tel" />
    </div>
    <button type="submit" (click)="onPlanSubmit()" [disabled]="planForm.invalid">{{"Submit"|translate}}</button>
  </form>
  <form *ngIf="toggleForm" [formGroup]="stadiumForm">
    <div class="form-group">
      <label for="numberOfPeople">{{"Number of People"|translate}}</label>
      <input
        id="numberOfPeople"
        formControlName="numberOfPeople"
        type="number"
      />
      <div
        *ngIf="
          stadiumForm.get('numberOfPeople')?.invalid &&
          stadiumForm.get('numberOfPeople')?.touched
        "
        class="error"
      >
        {{"Please enter a valid number (minimum 1)"|translate}}.
      </div>
    </div>

    <div class="form-group">
      <label for="ageGroup">{{"Age Group"|translate}}:</label>
      <select id="ageGroup" formControlName="ageGroup">
        <option *ngFor="let option of ageOptions" [value]="option">
          {{ option }}
        </option>
      </select>
      <div
        *ngIf="
          stadiumForm.get('ageGroup')?.invalid &&
          stadiumForm.get('ageGroup')?.touched
        "
        class="error"
      >
        {{"Please select an age group"|translate}}.
      </div>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="hasBall" /> {{"Do you have a ball"|translate}}?
      </label>
    </div>

    <div class="form-group">
      <label for="message">{{"Message"|translate}}:</label>
      <textarea id="message" formControlName="message"></textarea>
    </div>

    <div class="form-group">
      <label for="phoneNumber">{{"Phone Number"|translate}}:</label>
      <input id="phoneNumber" formControlName="phoneNumber" type="tel" />
    </div>

    <button type="submit" (click)="onSubmit()" [disabled]="stadiumForm.invalid">{{"Submit"|translate}}</button>
  </form>
</div>
